.gallery {
    margin-top: 64px;
    padding: 0 64px;
    @media (max-width: 768px) {
        margin-top: 24px;
        padding: 0 32px;
      }
      @media (max-width: 576px) {
        padding: 0 12px;
      }
    .image-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 12px;
        .image-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 12px;
          h3 {
            color: #fff;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            @media (max-width: 576px) {
              font-size: 24px;
            }
          }
        }
        .img-fluid {
          width: 100%;
          height: auto;
          display: block;
          border-radius: 12px;
        }
      }
    h3{
        font-family: "Montserrat",sans-serif;
        font-weight: 700;
        line-height: 64px;
        font-size: 48px;
        @media (max-width:768px){
          font-size: 30px;
        }
    }
  p {
    color:  #979797;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .container {
    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
