
.modal {
    .modal-dialog {
        .modal-content {
            background-color: #F7F2E8;

            .modal-header {
                color: var(--Brown-Main-color, #311a0f);
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                line-height: 64px;
                .modal-title{
                    color: #4A3024;
                    font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                }

            }
            .modal-body{
                color: #4A3024;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 400;
                padding: 50px 0px 50px 20px;
            }
        }
    }
}
.modal-backdrop.show {
    opacity: 0.7; 
    background-color: #000; 
  }
  