.Faqs {
    width: auto;
    height: auto;
    margin-top: 30px;

    .container1 {
        width: auto;
        height: auto;
        padding-left: 84px;
        padding-right: 84px;

        @media (min-width: 1700px) {
            padding-left: 100px;
            padding-right: 100px;
        }

        @media (max-width: 1070px) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (max-width: 790px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .Center {
            max-width: 70%;
            width: 100%;
            height: auto;
            @media (max-width: 650px) {
                max-width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .title {
                width: auto;
                height: auto;
                display: flex;

                .line {
                    width: 31px;
                    height: 2px;
                    background-color: var(--faqcolor);
                    text-align: center;
                    margin-top: 13px !important;
                    border-radius: 4px !important;

                    @media (max-width: 469px) {
                        width: 25px;
                        height: 2px;
                        margin-top: 9px !important;
                    }

                    @media (max-width: 390px) {
                        width: 19px;
                        height: 2px;
                        margin-top: 5px !important;
                    }
                }

                .upper {
                    margin-left: 5px;

                    h5 {
                        color: #a7a4a4;
                        font-family: Montserrat;
                        font-size: 21.68px !important;
                        font-style: normal;
                        font-weight: bold !important;
                        line-height: normal;

                        @media (max-width: 469px) {
                            font-size: 16.68px !important;
                        }

                        @media (max-width: 390px) {
                            font-size: 11.68px !important;
                        }
                    }
                }
            }

            .question {
                max-width: 600px;
                width: 100%;
                height: auto;

                h1 {
                    color: var(--faqcolor);
                    font-size: 45px !important;
                    font-weight: 700;
                    width: 80%;
                    font-family: Montserrat;

                    @media (max-width: 565px) {
                        width: 80%;
                        font-size: 44px !important;
                    }

                    @media (max-width: 506px) {
                        width: 80%;
                        font-size: 38px !important;
                    }

                    @media (max-width: 431px) {
                        width: 80%;
                        font-size: 32px !important;
                    }

                    @media (max-width: 391px) {
                        width: 80%;
                        font-size: 28px !important;
                    }

                    @media (max-width: 368px) {
                        width: 80%;
                        font-size: 27px !important;
                    }

                    @media (max-width: 321px) {
                        width: 70%;
                        font-size: 19px !important;
                    }
                }

                span {
                    width: 20%;
                    color: var(--faqwriting);
                    font-family: Montserrat;

                    @media (max-width: 386px) {
                        width: 10%;
                    }
                }

                @media (max-width: 469px) {
                    max-width: 500px;
                    width: 100%;
                    height: auto;
                }
            }

            .accordion {
                width: auto;
                height: auto;
                margin-bottom: 40px;

                .accordion-item {
                    border: none;
                    padding: 10px 0px 10px 0px;
                    // box-shadow: 0px 2.13778px 3.70075px 0px rgba(116, 114, 114, 0.2);
                    margin-bottom: 15px;
                    border-radius: 13.988px !important;
                    background-color: #f7f2e8;

                    .show {
                        // box-shadow: 0px 3.13778px 7.70075px 0px rgba(35, 35, 35, 0.2);
                        border-radius: 9px;
                    }
                    .accordion-body {
                        position: relative;
                        margin-top: -15px;
                        z-index: 999999 !important;
                        background-color: #f7f2e8;
                    }

                    .lorem1 {
                        color: var(--placeholder);
                        font-family: Montserrat;
                        font-size: 13px !important;

                        @media (max-width: 548px) {
                            font-size: 12px !important;
                        }

                        @media (max-width: 450px) {
                            font-size: 10px !important;
                        }

                        @media (max-width: 421px) {
                            font-size: 9px !important;
                        }

                        @media (max-width: 395px) {
                            font-size: 8px !important;
                        }

                        @media (max-width: 391px) {
                            font-size: 7px !important;
                        }

                        @media (max-width: 281px) {
                            font-size: 4px !important;
                        }
                    }
                }

                h6 {
                    font-family: Montserrat;
                    font-size: 15px !important;
                    margin-top: 8px !important;

                    @media (max-width: 548px) {
                        font-size: 14px !important;
                    }

                    @media (max-width: 450px) {
                        font-size: 12px !important;
                    }

                    @media (max-width: 421px) {
                        font-size: 11px !important;
                    }

                    @media (max-width: 415px) {
                        font-size: 10.5px !important;
                    }

                    @media (max-width: 395px) {
                        font-size: 10px !important;
                    }

                    @media (max-width: 391px) {
                        font-size: 9px !important;
                    }

                    @media (max-width: 281px) {
                        font-size: 6px !important;
                    }
                }

                .accordion-header {
                    #one {
                        border-radius: 11.988px !important;
                    }

                    #two {
                        border-radius: 11.988px !important;
                        background-color: #f7f2e8;
                    }

                    #three {
                        border-radius: 11.988px !important;
                    }

                    #four {
                        border-radius: 11.988px !important;
                    }


                      .accordion-title {
                        flex-grow: 1;
                        margin: 0;
                      }
                      .custom-accordion-button {
                        background-color: transparent;
                        border: none;
                        color: var(--faqcolor);  
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 20px 25px; 
                        text-align: left; 
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                      }
                      .accordion-body {
                        padding: 15px 20px;
                        background-color: #f9f9f9;
                        font-size: 14px;
                    }
                    .accordion-icon {
                        margin: 10px;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 12px;
                        border-radius: 50%;
                        border: 1px solid #000;
                        color: var(--faqcolor);
                        transform: rotate(0deg);
                        transition: transform 0.3s ease;
                      }
                      
                      .accordion-icon.rotate {
                        transform: rotate(90deg);
                      }
                      
                      .accordion-collapse {
                        overflow: hidden;
                        height: 0;
                        -webkit-transition: height 0.4s ease-out;
                        -o-transition: height 0.4s ease-out;
                        transition: height 0.4s ease-out;
                      }
                      
                      .accordion-collapse.show {
                        height: auto;
                      }
                      
                      
                      @media (max-width: 768px) {
                        .accordion-icon {
                          width: 25px;
                          height: 25px;
                          font-size: 10px; 
                        }
                      }
                      
                      @media (max-width: 480px) {
                        .accordion-icon {
                          width: 20px;
                          height: 20px;
                          font-size: 6px; 
                        }
                      }
  
                      
                      


                }
            }
        }
    }
}
