.socialmediaIcons {
    display: flex;
    justify-content: start; 
    padding: 10px; 
}

.socialmediaIcons ul {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center; 
}

.socialmediaIcons li {
    list-style: none;
    margin: 5px; 
}

.socialmediaIcons a {
    font-size: 30px;
    color: #4A3024;
}

.socialmediaIcons img {
    display: block;
    max-width: 30px;
    height: auto;
    mix-blend-mode: multiply;
}

@media (max-width: 768px) {
    .socialmediaIcons a {
        font-size: 20px; 
    }

    .socialmediaIcons img {
        max-width: 25px; 
    }
}

@media (max-width: 480px) {
    .socialmediaIcons a {
        font-size: 18px; 
    }

    .socialmediaIcons img {
        max-width: 20px; 
    }
}
