.reserve .Reverse-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reserve .Reverse-title .first-card-img {
  max-width: 100%;
  width: 100%;
  padding: 0 84px;
  position: relative;
}
.reserve .Reverse-title .first-card-img img {
  border-radius: 12px;
}
@media (max-width: 700px) {
  .reserve .Reverse-title .first-card-img img {
    height: 150px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1070px) {
  .reserve .Reverse-title .first-card-img {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 730px) {
  .reserve .Reverse-title .first-card-img {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.reserve .Reverse-title .first-card-title {
  position: absolute;
}
.reserve .Reverse-title .first-card-title p {
  color: #fff;
  font-size: 32px;
}
@media (max-width: 568px) {
  .reserve .Reverse-title .first-card-title p {
    font-size: 20px;
  }
}
.reserve .reserve-form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0px 24px 0px;
}
@media (max-width: 1300px) {
  .reserve .reserve-form-header {
    padding: 100px 0px 22px 0px;
  }
}
@media (max-width: 1100px) {
  .reserve .reserve-form-header {
    padding: 80px 0px 20px 0px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form-header {
    padding: 60px 0px 18px 0px;
  }
}
@media (max-width: 700px) {
  .reserve .reserve-form-header {
    padding: 50px 0px 17px 0px;
  }
}
@media (max-width: 500px) {
  .reserve .reserve-form-header {
    padding: 40px 0px 15px 0px;
  }
}
@media (max-width: 300px) {
  .reserve .reserve-form-header {
    padding: 30px 0px 13px 0px;
  }
}
.reserve .reserve-form-header .reserve-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.reserve .reserve-form-header .reserve-header-text h1 {
  color: var(--Brown-Main-color, #4a3024);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 1300px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 60px;
  }
}
@media (max-width: 1100px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 55px;
  }
}
@media (max-width: 880px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 53px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 35px;
  }
}
@media (max-width: 400px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .reserve .reserve-form-header .reserve-header-text h1 {
    font-size: 25px;
  }
}
.reserve .reserve-form-header .reserve-header-text p {
  color: #979797;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1490px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 8px;
    line-height: 10px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form-header .reserve-header-text p {
    font-size: 7px;
    line-height: 9px;
  }
}
.reserve .reserve-form {
  width: 100%;
  display: flex;
}
@media (max-width: 730px) {
  .reserve .reserve-form {
    flex-direction: column;
  }
}
.reserve .reserve-form .reserve-part1 {
  width: 40%;
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part1 {
    width: 100%;
  }
}
.reserve .reserve-form .reserve-part1 .reserve-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: stretch;
  border-radius: 0px 12px 12px 0px;
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part1 .reserve-img {
    border-radius: 12px !important;
    height: auto;
    padding: 15px;
  }
}
.reserve .reserve-form .reserve-part2 {
  padding: 0 64px 0 24px;
  width: 60%;
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 {
    padding: 0 55px 0 20px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form .reserve-part2 {
    padding: 0 45px 0 15px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 {
    padding: 0 35px 0 15px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 {
    width: 100%;
    padding: 15px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main {
  padding: 24px;
  border-radius: 12px;
  gap: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 70px;
    gap: 25px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 60px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 50px;
    gap: 0px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 42px;
    gap: 0px;
  }
}
@media (max-width: 920px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 35px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    padding: 30px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main {
    width: 100%;
    height: auto;
    padding: 15px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
  color: var(--Brown-Main-color, #4a3024);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 30px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 23px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 22px;
  }
}
@media (max-width: 1320px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    line-height: 21px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 20px;
    line-height: 35px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 19px;
  }
}
@media (max-width: 1090px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 14px;
  }
}
@media (max-width: 820px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 15px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 24px;
    line-height: 40px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 23px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header h1 {
    font-size: 21px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-part-header span {
  color: var(--Yellow-Dark, #d59729);
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text {
  display: flex;
  padding: 16px 0px 8px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text {
    gap: 22px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text {
    gap: 0px;
    padding: 8px 0px 7px 0px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text {
    gap: 0px;
    padding: 7px 0px 4px 0px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
  margin-bottom: 0;
  color: var(--Grey-Tint-900, #424044);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 850px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 8px;
    line-height: 9px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input-text span {
  color: #d20409;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--Grey-Tint-450, #a19fa1);
  background: var(--White, #fff);
  color: var(--Grey-Tint-450, #a19fa1);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  outline: none;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select:focus {
  border: 1px solid #c38a2f;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 14px;
    padding: 13px 15px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 13px;
    padding: 12px 13px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 12px;
    padding: 11px 12px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 10px;
    padding: 10px 11px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 10px;
    padding: 11px 11px;
  }
}
@media (max-width: 870px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 10px;
    padding: 7px 11px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 14px;
    padding: 12px 14px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 13px;
    padding: 11px 13px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 11px;
    padding: 10px 11px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select {
    font-size: 11px;
    padding: 9px 10px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select.round {
  padding-right: 20px;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input select.round:focus {
  padding-right: 20px;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--Grey-Tint-450, #a19fa1);
  background: var(--White, #fff);
  color: var(--Grey-Tint-450, #a19fa1);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  outline: none;
  transition: 250ms;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input:focus {
  border: 1px solid #c38a2f;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 14px;
    padding: 11px 15px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 13px;
    padding: 8px 13px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 10px;
    padding: 7px 12px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 11px;
    padding: 5px 11px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 10px;
    padding: 6px 11px;
  }
}
@media (max-width: 870px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 9px;
    padding: 5px 10px;
  }
}
@media (max-width: 870px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 8px;
    padding: 2px 9px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 14px;
    padding: 9px 14px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 13px;
    padding: 8px 13px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 11px;
    padding: 6px 11px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input input {
    font-size: 11px;
    padding: 5px 10px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input .invalid {
  border: 1px solid red;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs .reserve-input .invalid_message {
  color: red;
  font-size: small;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
  width: 100%;
  display: flex;
  gap: 24px;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
    gap: 28px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
    gap: 18px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
    gap: 25px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main {
    gap: 10px;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main .reserve-part1 {
  width: 50%;
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main .reserve-part1 {
    width: 100%;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main .reserve-part2 {
  width: 50%;
  padding: 0;
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-inputs-main .reserve-part2 {
    width: 100%;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text {
  padding-top: 24px;
  margin-bottom: 20px;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .reserve-text-main {
  display: flex;
  gap: 59px;
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .reserve-text-main {
    gap: 40px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .reserve-text-main {
    gap: 30px;
  }
}
@media (max-width: 350px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .reserve-text-main {
    gap: 16px;
  }
}
@media (max-width: 300px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .reserve-text-main {
    gap: 10px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text {
    padding-top: 10px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text {
    padding-top: 24px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput {
  display: flex;
  align-items: center;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput input[type=radio] {
  accent-color: #c38a2f;
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
  margin-left: 10px;
  margin-bottom: 0;
  color: var(--grey-700, #343a40);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-text .textInput p {
    font-size: 11px;
    line-height: 12px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button {
  width: 100%;
  border: none;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Brown-Medium, #502d1e);
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button {
    padding: 18px 20px;
    gap: 20px;
  }
}
@media (max-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button {
    padding: 10px 14px;
  }
}
.reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
  margin-bottom: 0;
  color: var(--Yellow-Soft, #f7f2e8);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1080px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 900px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 870px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 8px;
    line-height: 9px;
  }
}
@media (max-width: 730px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .reserve .reserve-form .reserve-part2 .reserve-part2-main .reserve-btn button p {
    font-size: 11px;
    line-height: 12px;
  }
}
.reserve .reserve-form .reserve-part2 .modal .modal-dialog .modal-content {
  background-color: #f3f3f3;
}
.reserve .reserve-form .reserve-part2 .modal .modal-dialog .modal-content .modal-header {
  color: var(--Brown-Main-color, #311a0f);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.reserve .reserve-form .reserve-part2 .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #4a3024;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.reserve .reserve-form .reserve-part2 .modal .modal-dialog .modal-content .modal-body {
  color: #4a3024;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  padding: 50px 0px 50px 20px;
}/*# sourceMappingURL=Reserve.css.map */