.blog-details {
    padding: 0 84px;
    @media (max-width:1024px) {
        padding: 0 64px;
    }
    @media (max-width:425px) {
        padding: 0 24px;
    }
    @media (max-width:320px) {
        padding: 0 14px;
    }
    .img-transparent {
        position: relative;
        .image-container {
            height: 100%;
            width: 100%;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 12px;
                @media (max-width:1024px) {
                  height: 350px;
                }
            }
        }

        .image-container::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.44) 53.65%, rgba(255, 255, 255, 0.00) 100%);
            z-index: 1;
            border-radius: 12px;
        }

        .img-text-context {
            position: absolute;
            top: 20%;
            left: 5%;
            z-index: 2;
            h3 {
                max-width: 500px;
                color: #FFF;
                font-family: Lato;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;

                @media (min-width:1600px) {
                    max-width: 700px;
                    font-size: 40px;
                    line-height: 62px;
                }

                @media (max-width:1024px) {
                    font-size: 26px;
                    line-height: 38px;
                }

                @media (max-width:425px) {
                    font-size: 22px;
                }

                @media (max-width:375px) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            p {
                color: #FFF;
                font-family: Lato;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                @media (min-width:1600px) {
                    font-size: 28px;
                    line-height: 36px;
                }

                @media (max-width:1024px) {
                    font-size: 16px;
                }

            }
            .read {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                @media (max-width:1024px){
                    gap: 5px;
                }
                p {
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;
                    @media (max-width:1024px){
                        gap: 5px;
                    }
                    @media (min-width:1600px){
                        gap: 14px;
                    }
                    svg{
                    @media (min-width:1600px){
                      width: 40px;
                      height: 40px;
                    }
                  }
                }
        }

    }}

    .blog-details-section2 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media(max-width:991px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        @media(max-width:420px) {
            margin-top: 0 !important;
        }

        .blog-details-text {
            max-width: 72%;
            width: 100%;
            padding-left: 2em;

            @media(max-width:991px) {
                max-width: 100% !important;
                padding-left: 12px !important;
                ;
            }

            @media(max-width:1300px) {
                padding-left: 10px !important;
            }

            @media(max-width:612px) {
                padding-left: 8px !important;
            }

            @media(max-width:425px) {
                padding-left: 0 !important;
            }

            .blog-details-text-part1 {
                margin-bottom: 0 !important;

                p {
                    width: 100%;
                    color: #3F332E;
                    font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    align-self: stretch;
                }
            }

            .blog-details-text-part2 {
                img {
                    width: 100%;
                    max-height: 500px;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .blog-details-text-part3 {
                h5 {
                    color: #D59729;
                    font-family: Lato;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;

                }

                ul {
                    li {
                        color: #3F332E;
                        font-family: Lato;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }

            .blog-details-text-part4 {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                gap: 16px;

                p {
                    color: #979797;
                    font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }

        .blog-details-card {
            max-width: 25%;
            width: 100%;
            flex-direction: row;

            @media(max-width:991px) {
                max-width: 100%;
                flex-direction: row;
            }
           
            .latest-news {
                color: #4A3024;
                font-family: Lato;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                align-self: stretch;
            }

            .blog-details-lastes {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 24px;

                @media (min-width:1600px) {
                    gap: 30px;
                    max-width: 600vh;
                    width: 100%;
                }

                @media (max-width:991px) {
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                }

                @media (max-width:768px) {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }



                @media (max-width:280px) {
                    margin: 0 10px;
                    margin: 0;
                    max-width: 330px;
                }

                .blogcard {
                    border-radius: 12px;
                    background: #F7F2E8;
                    max-width: 300px;
                    width: 100%;
                    padding: 0;

                    @media (min-width:1600px) {
                        margin: 0;
                        max-width: 330px;
                    }

                    @media (max-width:280px) {
                        max-width: 250px;
                        width: 100%;
                    }

                    figure {
                        padding: 0;
                        border-radius: 12px;
                        margin: 0;

                        img {
                            max-width: 300px;
                            max-height: 226px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 12px 12px 0px 0px;
                        }

                        @media (min-width:"1600px") {
                            max-width: 330px !important;
                        }
                    }

                    .card-header {
                        display: flex;
                        max-width: 300px;
                        width: 100%;
                        padding: 24px;
                        flex-direction: column;
                        align-items: flex-start;
                        @media (min-width:1600px) {
                            width: 330px !important;
                            gap: 35px;
                        }

                        @media (max-width:1200px) {
                            max-width: 300px;
                            width: 100%;
                        }

                        @media (max-width:280px) {
                            max-width: 250px;
                            width: 100%;
                        }

                        .p-title {
                            overflow: hidden;
                            color: #4A3024;
                            text-overflow: ellipsis;
                            font-family: Lato;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;

                            @media (min-width:"1600px") {
                                font-size: 24px;
                                line-height: 28px;
                            }


                        }

                        .p-body {
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-family: Lato;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            @media (min-width:"1600px") {
                                font-size: 18px;
                                line-height: 28px;
                            }

                            span {
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 4;
                                color: #D59729;
                                text-decoration-line: underline;
                            }
                        }
                    }

                    .date-number {
                        border-top: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-self: stretch;

                        span {
                            color: #979797;
                            font-family: Lato;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            @media (min-width:"1600px") {
                                font-size: 16px;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.blogsPage {
    .container {
        .row {
            .blogs {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 24px;
                @media (min-width:"1600px") {
                    padding: 0;
                    margin: 0;
                }

                .title {
                    margin-top: 10px;
                    display: flex;
                    align-items: start;
                    justify-content: flex-start;
                    flex-direction: column;

                    h3 {
                        color: #4A3024;
                        font-family: Montserrat;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 64px;

                        @media (min-width:"1600px") {
                            font-size: 74px;
                            line-height: 94px;
                        }

                        @media (max-width:"768px") {
                            font-size: 38px;
                            margin-bottom: 25px;
                            line-height: 24px;
                        }

                        @media (max-width:"280px") {
                            font-size: 30px;
                            margin-bottom: 20px;
                            margin-top: 20px;
                        }
                    }
                }
                .cardsBlogs {
                    gap: 24px;
                    display: grid;
                    place-items: start;
                    margin-inline: 1.5rem;
                    @media (min-width:"1600px") {
                        gap: 30px;
                        max-width: 600vh;
                        width: 100%;
                    }
                    @media screen and (max-width: 768px) {
                        grid-template-columns: repeat(1, 1fr);
                        column-gap: 1.5rem;
                        display: grid;
                        place-items: center;
                    }
                    @media screen and (min-width: 768px) {
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 1.5rem;
                        place-items: center;
                        display: grid;
                    }
                    @media screen and (min-width: 1120px) {
                        grid-template-columns: repeat(4, 1fr)!important;
                        place-items: center;
                        display: grid;
                    }
                    @media (max-width:"280px") {
                        margin: 0 10px;
                        margin: 0;
                        max-width: 330px;
                    }

                    .blogcard {
                        border-radius: 12px;
                        background: #F7F2E8;
                        max-width: 300px;
                        height: auto;
                        width: 100%;
                        padding: 0;

                        @media (max-width:"280px") {
                            max-width: 250px;
                            width: 100%;
                        }

                        figure {
                            padding: 0;
                            border-radius: 12px;
                            margin: 0;

                            img {
                                max-width: 300px;
                                max-height: 226px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 12px 12px 0px 0px;
                            }

                            @media (min-width:"1600px") {
                                max-width: 330px !important;
                            }
                        }

                        .card-header {
                            display: flex;
                            max-width: 300px;
                            height: auto;
                            padding: 24px;
                            flex-direction: column;
                            align-items: flex-start;
                            @media (min-width:"1600px") {
                                width: 330px !important;
                                gap: 35px;
                            }

                            @media (max-width:"280px") {
                                max-width: 250px;
                                width: 100%;
                            }

                            .p-title {
                                color: #4A3024;
                                text-overflow: ellipsis;
                                font-family: Lato;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                margin-bottom: 0;
                                @media (min-width:"1600px") {
                                    font-size: 24px;
                                    line-height: 28px;
                                }
                            }

                            .p-body-text {
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }

                            .p-body-read {
                                color: #4A3024;
                                text-overflow: ellipsis;
                                font-family: Lato;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                @media (min-width:"1600px") {
                                    font-size: 18px;
                                    line-height: 28px;
                                }

                                span {
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                    color: #D59729;
                                    text-decoration-line: underline;
                                }
                            }
                        }

                        .date-number {
                            border-top: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            align-self: stretch;

                            span {
                                color: #979797;
                                font-family: Lato;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;

                                @media (min-width:"1600px") {
                                    font-size: 16px;
                                    line-height: 28px;
                                }
                                @media (max-width:"1024px") {
                                    font-size: 16px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }


                .centerbtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .button {
                        width: 150px;

                        display: flex;
                        padding: 4px 16px;
                        gap: 10px;
                        border-radius: 8px;
                        border: 1px solid #4A3024;
                        gap: 24px;

                        @media (max-width:320px) {
                            width: 100%;
                        }

                        .btn {
                            width: 100%;
                            color: #4A3024;
                            font-family: Lato;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                            border: none;

                        }
                    }
                }

            }
        }
    }
}