.franchiseform {
  width: 100%;
  display: flex;
}
@media (max-width: 730px) {
  .franchiseform {
    flex-direction: column;
  }
}
.franchiseform .franchiseform-part1 {
  width: 50%;
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part1 {
    width: 100%;
    padding: 15px;
  }
}
.franchiseform .franchiseform-part1 .franchiseform-img {
  width: 100%;
  height: 100%;
  align-self: stretch;
  border-radius: 0px 12px 12px 0px;
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part1 .franchiseform-img {
    border-radius: 12px !important;
    height: auto;
  }
}
.franchiseform .franchiseform-part2 {
  padding: 0 64px 0 24px;
  width: 50%;
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 {
    padding: 0 55px 0 20px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 {
    padding: 0 45px 0 15px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 {
    padding: 0 35px 0 15px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 {
    width: 100%;
    padding: 15px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main {
  padding: 64px;
  border-radius: 12px;
  background: var(--Yellow-Soft, #F7F2E8);
  gap: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 70px;
    gap: 25px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 60px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 50px;
    gap: 0px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 42px;
    gap: 0px;
  }
}
@media (max-width: 920px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 35px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    padding: 30px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main {
    width: 100%;
    height: auto;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
  color: var(--Brown-Main-color, #4A3024);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 55px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 43px;
    line-height: 60px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 38px;
    line-height: 56px;
  }
}
@media (max-width: 1320px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    line-height: 50px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 33px;
    line-height: 42px;
  }
}
@media (max-width: 1090px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 22px;
    line-height: 23px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-part-header span {
  color: var(--Yellow-Dark, #D59729);
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text {
  display: flex;
  padding: 16px 0px 8px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text {
    gap: 22px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text {
    gap: 0px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
  margin-bottom: 0;
  color: var(--Grey-Tint-900, #424044);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input-text span {
  color: #D20409;
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .invalid_message {
  color: red;
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--Grey-Tint-450, #A19FA1);
  background: var(--White, #FFF);
  color: var(--Grey-Tint-450, #A19FA1);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 14px;
    padding: 11px 15px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 13px;
    padding: 8px 13px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 12px;
    padding: 7px 12px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 11px;
    padding: 6px 11px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 10px;
    padding: 6px 11px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 9px;
    padding: 5px 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 14px;
    padding: 9px 14px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 13px;
    padding: 8px 13px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 11px;
    padding: 6px 11px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-inputs .franchiseform-input input {
    font-size: 11px;
    padding: 5px 10px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
  width: 100%;
  display: flex;
  gap: 24px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
    gap: 28px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
    gap: 18px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
    gap: 25px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city {
    gap: 20px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city .franchiseform-country {
  width: 50%;
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-country-city .franchiseform-city {
  width: 50%;
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text {
  padding-top: 24px;
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text {
    padding-top: 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text {
    padding-top: 24px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
  margin-bottom: 0;
  padding-bottom: 16px;
  color: #979797;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 11px;
    line-height: 12px;
    padding-bottom: 14px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 9px;
    line-height: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text p {
    font-size: 11px;
    line-height: 12px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
  color: var(--Blue, #2F36E3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  list-style: none;
  text-decoration: none;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-text .franchiseform-link {
    font-size: 11px;
    line-height: 12px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button {
  width: 100%;
  border: none;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Brown-Medium, #502D1E);
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button {
    padding: 18px 20px;
    gap: 20px;
  }
}
.franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
  margin-bottom: 0;
  color: var(--Yellow-Soft, #F7F2E8);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
}
@media (min-width: 1600px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 20px;
  }
}
@media (max-width: 1490px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 15px;
  }
}
@media (max-width: 1390px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 1187px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 12px;
    line-height: 13px;
  }
}
@media (max-width: 1000px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 10px;
    line-height: 11px;
  }
}
@media (max-width: 820px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 9px;
    line-height: 10px;
  }
}
@media (max-width: 730px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 550px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 450px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media (max-width: 370px) {
  .franchiseform .franchiseform-part2 .franchiseform-part2-main .franchiseform-btn button p {
    font-size: 11px;
    line-height: 12px;
  }
}
.franchiseform .franchiseform-part2 .modal .modal-dialog .modal-content {
  background-color: #F7F2E8;
}
.franchiseform .franchiseform-part2 .modal .modal-dialog .modal-content .modal-header {
  color: var(--Brown-Main-color, #311a0f);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.franchiseform .franchiseform-part2 .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #4A3024;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.franchiseform .franchiseform-part2 .modal .modal-dialog .modal-content .modal-body {
  color: #4A3024;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  padding: 50px 0px 50px 20px;
}/*# sourceMappingURL=FranchiseForm.css.map */