@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Montserrat:wght@500;700&family=Noto+Sans&family=Poppins&family=Vujahday+Script&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
}
a {
  text-decoration: none;
}
@import "header";
@import "footer";
@import "./home/home";

//Blogs pages
@import "./blog/Blogs";
@import "./blog/blogdetails";

//Account pages
@import "./account/password";
@import "./account/order";
@import "./account/orderdetails";
@import "./account/account";
@import "./account/checkout";
@import "./account/wishlist";
@import "./account/cart";
@import "./account/login";
@import "./account/signup";
@import "./account/forgotpass";

//Product pages
@import "./product/products";
@import "./product/productdetails";
@import "./product/productinformation";
@import "./product/carousel";

// Contact pages
@import "./contact/Contact";
@import "./contact/Contactcard";
@import "./contact/Contactus";

// Franchise pages
@import "./franchise/FranchiseForm";
@import "./reserve/Reserve";
@import "./franchise/FranchiseCopmany";

// About us page
@import "./ourstory/ourstory";

// Career page
@import "./career/Vacancy";
@import "./career/Vacancydetail";
@import "./career/Vacancydetail";
@import "./career/careerform";
@import "./career/careerpage";
@import "./loadingLogo";


// Gallery Page
@import "./gallery/gallery.scss" ;

// PreLoader
@import "./preloader/preloader" ;

//Modal
@import "./modal/modal";

//SocialMedia
@import "./socialmedia/socialmedia" ;

//Campaign Page
@import "./campaign/CampaignPage";
@import "./campaign/CampaignDetails";

//EventPage
@import "./eventpage/event";
@import "./eventpage/eventDetails";


//Sticky cookie
@import "./home/stickycookie" ;

//Terms and Conditions
@import "./TermsandConditions/TermsandConditions";

//KSM
@import "./csr/Corporate" ;

//Delivery
@import "./delivery/Delivery" ;

//GisftCard
@import "./giftcard/GiftCard" ;

.ormado-con-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .ormado-con {
    width: 90%;
  }
}

.loading-rotate {
  animation: loading 5s infinite linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

